{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AVT</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="general-container">

        <h2 class="main-label">Registration </h2>

        <div class="container" style="position: absolute; left: 40%">
            <div class="tooltip-arrow">
                <div class="col-lg-8">
                    <div class="forms">
                        <form action="" method="post">{% csrf_token %}
{#                            {{ form.as_p }}#}
                            <div class="form-group">
                                <label>Login:</label>
                                <input type="text" name="{{ form.login.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" name="{{ form.name.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Surname:</label>
                                <input type="text" name="{{ form.surname.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Fathername:</label>
                                <input type="text" name="{{ form.father_name.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mobile:</label>
                                <input type="number" name="{{ form.mobile.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>E-mail:</label>
                                <input type="email" name="{{ form.email.name }}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" name="{{ form.password.name }}" class="form-control">
                            </div>
                            <div>
                                <button type="submit" class="btn-info btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Minified JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>